@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
/* 
.layoutImage {
	background-image: src('../src/images/TopGunMaverick.jpg');
} */

@font-face {
	font-family: 'TOP GUN';
	src: url('../public/fonts/TOPGUN.woff2') format('woff2'),
	url('../public/fonts/TOPGUN.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}